:root {
  --color-primary: white;
  --color-black: black;
  --color-light-grey: #fafafa;
  --color-grey: #d6d4d0;
  --color-dark-grey: #5c5c5c;
  --color-dark-pink: #ba7f67;
  --color-pale-pink: #f6c5ad;
  --color-orange-brown: #a4702a;
  --color-yellow-brown: #fcbe65;
  --color-dusty-pink: #e6cdc5;

  --font-primary: 'Playfair Display', serif;
  --font-sans: Roboto, sans-serif;
}

html {
  font-family: var(--font-sans);
}

h1 {
  font-family: var(--font-serif);
  color: var(--color-black);
}

h2 {
  font-family: var(--font-sans);
  color: var(--color-black);
}

h3 {
  font-family: var(--font-serif);
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-sans);
  color: var(--color-black);
}

h5{
  font-family: var(--font-sans);
  color: var(--color-black);
}

nav {
  font-family: var(--font-sans);
  color: var(--color-black);
}

a {
  color:  var(--color-dark-pink);
}

mark {
  background-color: var(--color-pale-pink);
}
