.btn-pink {
  background-color: var(--color-dark-pink);
  border-color: var(--color-dark-pink);
  color: var(--color-primary);
  font-family: var(--font-primary);
  margin-bottom: 0;
  padding-top: 1.3rem;
  padding-bottom: .3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-decoration: none;
}

.btn-pink:hover {
  background-color: var(--color-pale-pink);
  border-color: var(--color-pale-pink);
}

.btn-yellow {
  background-color: var(--color-orange-brown);
  border-color: var(--color-orange-brown);
  color: var(--color-primary);
  font-family: var(--font-primary);
  margin-bottom: 0;
  padding-top: 1.3rem;
  padding-bottom: .3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-decoration: none;
}

.btn-yellow:hover {
  background-color: var(--color-yellow-brown);
  border-color: var(--color-yellow-brown);
}

.btn-text:hover {
  background-color: none;
  border-color: none;
  color: var(--color-black);
  font-family: var(--font-sans);
  margin-bottom: 0;
  text-decoration: none;
}

.btn-yellow:hover {
  background-color: var(--color-dusty-pink);
}

.basic-black {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-primary);
  font-family: var(--font-sans);
  margin-bottom: 0;
  padding-top: 1.3rem;
  padding-bottom: .3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-decoration: none;
}

.basic-black:hover {
  background-color: var(--color-primary);
  border-color: var(--color-black);
  border-width: 4px;
  color: var(--color-black);
}
